<% @course.assignments.each do |assignment| %>
  <div class="assignment-entry">
    <h4><small>Assignment <%= assignment.number %>: </small><%= link_to assignment.title, assignment_path(assignment) %></h4>
    Due Date: <%= assignment.due_date %>
  </div>
<% end %>
