<h1>Enrolled Courses:</h1>
<%= "Not currently enrolled in any courses" if current_user.courses.empty? %>
<% current_user.courses.each do |course| %>
    <%= render partial: "course_entry", locals: { course: course } %>
<% end %>
